body {
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.index {
  background-color: var(--color-primary);
}

.title-container {
  text-align: center;
}

h1 {
  font: 700 5.5rem Oleo Script Swash Caps;
  color: var(--color-secondary);
  margin-top: 2rem;
  line-height: 100%;
}

h1 + marquee {
  font: 400 2.5rem Roboto;
  color: var(--color-secondary);
  line-height: 100%;
}

.video {
  margin: 40px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button-container a {
  text-align: center;
  padding: 2.5rem 5rem;
  background: var(--color-secondary);
  border-radius: 15px;

  color: var(--color-primary);
  font: 600 2rem Roboto;
}

.button-container a:hover {
  background-color: #6a8201;
}
