.index{
    background-color: var(--color-primary);
}

#container {
    width: 100vw;
    height: 98vh;
}

.title-container {
    text-align: center;
}

h1 {
    font: 700 5.5rem Oleo Script Swash Caps;
    color: var(--color-secondary);
    margin-top: 2rem;
    line-height: 100%;
}

h4 {
    font: 400 2.5rem Roboto;
    color: var(--color-secondary);
    line-height: 100%;
}

.video-container {
    text-align: center;
}

.video {
    width: 65rem;
    height: 30rem;
    margin: 1rem auto;
}

.button-container{
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container a{
    text-align: center;
    padding: 2.5rem 5rem;
    background: var(--color-secondary);
    border-radius: 15px;

    color: var(--color-primary);
    text-decoration: none;
    font: 600 2rem Roboto;
}

.procurar {
    margin-right: 5rem;
}

.oferecer {
    margin-left: 5rem;
}