main.main {
  padding: 40px;
}

form.search-bar {
  display: flex;
  align-items: center;

  background-color: white;
  padding: 10px;
  width: 30%;

  border-radius: 8px;
}

form.search-bar input,
form.search-bar button {
  border: none;
  background-color: white;
  color: #999;

  font-family: Arial;
}

form.search-bar input {
  font-size: 1rem;
  flex-grow: 1;
  margin-left: 10px;
}

form.search-bar button:hover {
  cursor: pointer;
  color: #333;
}

table.caronas-disponiveis {
  width: 100%;
  margin-top: 40px;
  color: var(--color-primary);
}

table.caronas-disponiveis th {
  text-align: left;
  border-bottom: 1px solid var(--color-primary);
}

table.caronas-disponiveis th,
table.caronas-disponiveis td {
  font-family: Arial;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: var(--color-primary);
  color: var(--color-background);
}

td button {
  background-color: var(--color-secondary);
  color: var(--color-primary);

  border: none;
  border-radius: 8px;

  padding: 10px;

  font-size: 1.1rem;
}

td button:hover {
  cursor: pointer;
  background-color: var(--color-background);
}
